.Details-List-Item {
  padding: 7px 7px 7px 71px;
  position: relative;
  color: #00234b;
  font-size: 12px;
  min-height: 30px;
  line-height: 20px;
  &::before {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    left: 35px;
    top: 7px;
    color: #999999;
  }
}

@media (max-width: 360px) {
  .Details-List-Item {
    word-break: break-word;
  }
}
